<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Search Abstraction Layer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="Image Search Abstraction Layer">
    <meta name="author" content="answart">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css/stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- header -->
    <header id="site-header">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">Image Search Abstraction Layer</a>
                <p>An app that that returns a unique JSON object depending on the route /api/imagesearch or /api/latest/imagesearch (w/pagination). Route /api/imagesearch returns a list of objects each containing a '<strong>url</strong>', '<strong>snippet</strong>', '<strong>thumbnail</strong>', and '<strong>context</strong>'. Route /api/latest/imagesearch returns a list of objects each containing a '<strong>term</strong>' and a '<strong>when</strong>' date.</p>
            </div>
        </div>
    </header>

    <!-- main -->
    <main id="site-main">
      <div class="container">

        <%- body %>

      </div>
    </main>

    <!-- footer -->
    <footer id="site-footer">
      &copy; Alexandra Swart
      <p>
        <a href="mailto:answart@sbcglobal.net.com"><span class="fa fa-envelope"></span></a>
        <a href="https://github.com/answart" target="_blank"><span class="fa fa-github"></span></a>
        <a href="https://www.linkedin.com/in/alexandra-swart-582a1235/"><span class="fa fa-linkedin-square"></span></a>
      </p>
    </footer>

    <script>
      // function googleSearchEngine() {
      //     var cx = '004839914922103642486:ysdqcnciffo';
      //     var gcse = document.createElement('script');
      //     gcse.type = 'text/javascript';
      //     gcse.async = true;
      //     gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      //     var s = document.getElementsByTagName('script')[0];
      //     s.parentNode.insertBefore(gcse, s);
      // };
      // googleSearchEngine();

      var data1 = {
        "0": {
            "url": "https://i.ytimg.com/vi/AZL9Sl2BC70/maxresdefault.jpg",
            "snippet": "Lolcats Funny cats 2017 - YouTube",
            "thumbnail":	"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLJFHmB-RbsTEH7IV6HdwkWXChnDDG24us-TdS_OpClDl0CYW4KGHIY54",
            "context":	"https://www.youtube.com/watch?v=AZL9Sl2BC70"
        },
        "1": {
          "url": "http://i0.kym-cdn.com/photos/images/newsfeed/000/024/740/lolcats-funny-pictures-halp-not-for-sale.jpg",
          "snippet": "Lolcats Funny cats 2017 - YouTube",
          "thumbnail":	"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlL11_9PbybfWKO97GPAJY14zqm2RPtcIHGBZcr_1LSas7K7o0yP43zSc",
          "context":	"http://knowyourmeme.com/photos/24740-lolcats"
        }
      };
      document.getElementById("code1").innerHTML = JSON.stringify(data1, undefined, 2);

      var data2 = {
        "0": {
          "term": "lolcats funny",
          "when": "2018-02-04T19:45:06.785Z"
        },
        "1": {
          "term": "abundace",
          "when": "2018-02-04T19:14:01.188Z"
        },
        "2": {
          "term":	"cats",
          "when":	"2018-02-05T02:04:32.799Z"
        }
      };
      document.getElementById("code2").innerHTML = JSON.stringify(data2, undefined, 2);

      var data3 = {
        "0": {
          "term":	"cats",
          "when":	"2018-02-05T02:04:32.799Z"
        },
        "1": {
          "term":	"cats",
          "when":	"2018-02-05T02:04:36.394Z"
        },
        "2": {
          "term":	"cats",
          "when":	"2018-02-05T02:05:04.210Z"
        }
      }
      document.getElementById("code3").innerHTML = JSON.stringify(data3, undefined, 2);

    </script>

</body>
</html>
